body:not(.material-icons) {
  /* cursor: default; */
  font-family: 'Assistant', sans-serif;
}

.route-wrapper {
  position: relative;
}

/* .route-wrapper > div {
  position: absolute;
} */

.orangeBg {
  /* background: radial-gradient(rgba(195, 78, 4, 0.8) 50%,#603500 100%); */
  background-color: #ff844c;
}

.greenBg {
  /* background: radial-gradient(rgba(0, 80, 48, 0.8) 50%,rgba(0, 80, 41, 1) 100%); */
  /* background-color: #4caf50; */
  background-color: #43a047;
  /* background-color: #F5F5F6; */
}

.row.appRow {
  margin-bottom: 0px!important;
}

.logoDiv {
  /* box-shadow: inset 0 0 10vw 2.5vw rgba(170, 170, 170, 0.8)!important; */
  /* background-color: white; */
  padding-bottom: 20px;
}

.logoImage {
  width: 80%;
  margin: 40px 10% 0px 10%;
}

.fullPage {
  min-height: 100vh!important;
}

.mobileNavbar {
  display: none;
}

.navbar {
  min-height: 100vh!important;
  /* background-color: rgba(74, 51, 43, 0.9); */
  background-color: #6d4c41;
  padding: 0px!important;
  /* width: 5%!important; */
  transition: all .5s;
  position: relative!important;
  z-index: 10!important;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.navbar:hover {
  /* width: 16.6666666667%!important; */
  transition: all .5s;
}

.navLinks {
  font-size: 36px;
  text-align: center;
  line-height: 125px;
  color: #fff;
  margin: 20px 0px;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

.navLink {
  padding: 0px 15px 0px 25px;
  transition: all .3s;
  color: #fff;
}

.navLink:hover {
  background-color: rgba(74, 51, 43, 1.0);
  transition: all .3s;
  cursor: pointer!important;
}

/* ABOUT STYLING */

.tutorHeading {
  color: #fff;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 150px;
  padding: 0px!important;
}

.chemWithJules {
  /* border-radius: 10px 0px 0px 0px; */
}

.orgoWithJohn {
  /* border-radius: 0px 10px 0px 0px; */
}

.chemWithJules, .orgoWithJohn {
  padding: 0px!important;
  transition: all .3s;
}

.chemWithJules:hover, .orgoWithJohn:hover {
  background-color: #76d275!important;
  transition: all .3s;
  cursor: pointer;
}

.chemWithJules, .orgoWithJohn {
  text-align: center;
  padding: 10px 0px 10px 0px!important;
  /* border-radius: 10px; */
}

.chemWithJules.jules {
  background-color: #00701a!important;
}

.orgoWithJohn.jonathan {
  background-color: #00701a!important;
}

.tutorDiv {
  transition: all .6s;
  padding: 0px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
}

.tutorDescription {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.tutorCourses {
  background-color: white;
  /* border-radius: 0px 0px 0px 10px; */
  font-size: 27px;
  text-align: center;
  color: #212226;
  font-weight: 600;
}

.topicsCovered {
  font-weight: 300;
}

.conceptsCovered {
  background:rgba(255,255,255,0.4);
  color: white;
  font-size: 24px;
  /* border-radius: 0px 0px 10px 0px; */
  padding: 0px!important;
}

.courseTopics {
  margin-left: 50px!important
}

/* TESTIMONIAL PAGE STYLING */

.testimonialHeader {
  text-align: left;
}

.testimonialDiv {
  margin-top: 195px;
  background-color: rgba(255,255,255,0.4);
  /* border-radius: 10px 10px 10px 10px; */
  font-size: 27px;
  text-align: center;
  color: #212226;
  font-weight: 600;
  padding: 0px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
}

.testimonialCopy {
  color: #fff;
  font-weight: 200;
  padding: 20px 30px!important;
  line-height: 60px;
}

.testimonialName {
  background: white;
  /* border-radius: 0px 0px 10px 10px; */
  color: #212226;
  padding: 20px 0px 10px 0px!important;
}

.testimonialButtons {
  margin-top: 10px;
}

.testimonialButtons i:hover {
  cursor: pointer;
}

/*  VIDEO PAGE STYLING */

.video-container {
  margin-top: 40px;
}

.videoTopics {
  background-color: rgba(255,255,255,0.4);
  padding: 0px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
}

.videoTopic {
  text-align: center;
  font-size: 30px;
  transition: all .3s;
  padding: 20px 0px!important;
}

.videoTopic:hover {
  background-color: rgba(255,255,255,0.6);
  transition: all .3s;
  cursor: pointer!important;
}

.vid1 {
  /* border-radius: 0px 0px 0px 10px; */
}

.videoTopics {
  /* border-radius: 0px 0px 10px 10px; */
}

.vid3 {
  /* border-radius: 0px 0px 10px 0px; */
}

.vid1.first, .vid2.second, .vid3.third {
  background-color: rgba(255,255,255,0.6);
}

/*  CONTACT PAGE STYLING */

.contactDiv {
  margin-top: 250px;
  background-color: rgba(255,255,255,0.4);
  /* border-radius: 10px; */
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  padding: 20px 0px 0px 0px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
}

.contactDetails {
  font-weight: 300;
  line-height: 90px;
}

.contactInfo {
  background-color: white;
  color: #212226;
  padding: 0px!important;
  /* border-radius: 0px 0px 10px 10px; */
}

@media (max-width: 768px) {
  .mobileNavbar {
    display: block;
    background-color: #40241a!important;
  }

  .mobileNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px!important;
  }

  .mobileNavbar ul li {
    float: left;
    line-height: 50px!important;
    padding: 0px 15px!important;
  }

  .navbar {
    display: none!important;
  }

  .fullPage {
    width: 100%!important;
  }

  .tutorHeading {
    font-size: 24px;
    margin-top: 50px!important;
  }

  .tutorCourses {
    display: none!important;
  }

  .tutorDiv {
    width: 84%!important;
  }

  .conceptsCovered {
    width: 100%!important;
    border-radius: 0px 0px 10px 10px!important;
    margin-bottom: 50px!important;
  }

  .courseTopics {
    width: 100%!important;
    margin-left: 0px!important;
    text-align: center;
  }

  .testimonialDiv {
    margin: 50px 0px!important;
  }

  .testimonialCopy {
    line-height: 45px!important;
  }

  .video-container {
    margin-top: 50px!important;
  }

  .videoTopic {
    width: 100%!important;
    font-size: 24px;
  }

  .vid1 {
    border-radius: 0px;
  }

  .vid2, .vid3 {
    line-height: 55px;
  }

  .vid3 {
    border-radius: 0px 0px 10px 10px;
  }

  .contactDiv {
    width: 100%!important;
    margin-left: 0px!important;
    font-size: 24px;
    margin-top: 75px!important;
  }

  .contactDetails {
    line-height: 60px!important;

  }

}
