body {
  cursor: default;
}

.orangeBg {
  background-color: rgba(244, 115, 33, 0.8);
}

.greenBg {
  background-color: rgba(0, 80, 48, 0.8)!important;
}

.row.appRow {
  margin-bottom: 0px!important;
}

.logoImage {
  width: 80%;
  margin: 20px 10% 0px 10%;
}

.fullPage {
  min-height: 100vh!important;
}

.navbar {
  min-height: 100vh!important;
  background-color: rgba(74, 51, 43, 0.9);
  padding: 0px!important;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  /* width: 5%!important; */
  transition: all .5s;
}

.navbar:hover {
  /* width: 16.6666666667%!important; */
  transition: all .5s;
}

.navLinks {
  /* text-transform: uppercase; */
  font-size: 40px;
  /* margin-left: 25px; */
  line-height: 125px;
  color: #fff;
}

.navLink {
  padding: 0px 15px 0px 25px;
  transition: all .3s;
  font-weight: 100;
  color: #fff;
}

.navLink:hover {
  background-color: rgba(74, 51, 43, 1.0);
  transition: all .3s;
  cursor: pointer;
}

/* ABOUT STYLING */

.tutorHeading {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 130px;
}

.chemWithJules, .orgoWithJohn {
  padding: 0px!important;
  transition: all .3s;
}

.chemWithJules:hover, .orgoWithJohn:hover {
  background-color: rgba(0, 80, 48, 0.8)!important;
  transition: all .3s;
  cursor: pointer;
}

.chemWithJules, .orgoWithJohn {
  text-align: center;
  padding: 10px 0px 10px 0px!important;
  border-radius: 10px;
}


.chemWithJules.jules {
  background-color: rgba(0, 80, 48, 0.8)!important;
}

.orgoWithJohn.jonathan {
  background-color: rgba(0, 80, 48, 0.8)!important;
}

.tutorDiv {
  transition: all .6s;
}

.tutorDescription {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.tutorCourses {
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  font-size: 27px;
  text-align: center;
  color: #212226;
  font-weight: 600;
}

.topicsCovered {
  font-weight: 300;
}

.conceptsCovered {
  background:rgba(255,255,255,0.5);
  color: white;
  font-size: 24px;
  border-radius: 0px 10px 10px 0px;
}

.courseTopics {
  margin-left: 50px!important
}

/* TESTIMONIAL PAGE STYLING */

.testimonialHeader {
  text-align: left;
}

.testimonialDiv {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px 10px 10px 10px;
  font-size: 27px;
  text-align: center;
  color: #212226;
  font-weight: 600;
  padding: 0px!important;
}

.testimonialCopy {
  color: #fff;
  font-weight: 200;
  padding: 20px 30px!important;
  line-height: 60px;
}

.testimonialName {
  background: white;
  border-radius: 0px 0px 10px 10px;
  color: #212226;
  padding: 20px 0px 10px 0px!important;
}

.testimonialButtons {
  margin-top: 10px;
}
